# Dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
coverage/
.nyc_output/

# IDE and editor files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.swp
*.swo
.DS_Store

# Documentation

# Temporary files
tmp/
temp/
*.log
CLAUDE.md
venv/